<h1>Oskar’s brother Norbert’s memories</h1>
<p>
	My father was an important businessman, and after the Germans’ arrival, he was advised not to stay at home, because the Germans may look for him. [...] So he decided to leave immediately. […] As it was Friday [the eve of Sabbath, during which devout Jews may not travel], we had to go on foot, we were orthodox.
</p>
<p>
	The only things my father took with him were a tallit and tefillin [a prayer shawl and straps]. That was all that was left of the property of the rich, prosperous, and respected businessman. We decided to go to Bohumín, where my mother’s brother, Jakob Bronner, lived. […] from Bohumín we continued to my father’s birthplace, Auschwitz.
</p>
<p>
	When the Germans marched into Czechoslovakia, my brother Oskar, ten years older than me, was on a business trip in Poland. He worked for our textile company, travelled in the country and sold our products. […] As soon as German soldiers entered Ostrava, we called him and told him not to come back. Oskar had enough money and so he spoke with a few friends and organized a plane that they flew in from Warsaw to London. Unfortunately they were denied a permit to enter. […] So my brother and his friends decided to apply for refugee status, but the British did not want to accept it and decided to send them back to Poland. There were ten Czech Jewish refugees, ten young men from Czechoslovakia. My brother was young but very resourceful, and he played a crucial role in eventually making it so that the ten refugees could stay. When they were to board the plane at the airport to be returned, my brother suddenly caused a big ruckus. He screamed and shouted, lay down on the floor, kicked around himself and refused to get up. He told us about it later. There were several reporters who photographed him.
</p>
<p>
	[…] The Danish pilot fortunately refused to take off. When he saw the commotion, he refused to take these desperate people aboard. It was the only plane from London to Warsaw. Again, they had mazel [they were lucky]. So the ten men awaited their destiny in jail while the British were making a decision about their future. Then there was an article published on the front page of the Daily Mail about the event, along with the picture of my brother being carried back into the plane. […] It caused a big outrage. […] In the end, all ten of them were released, and after a few days they got a permit to stay in England.
</p>
