<h1>Záměr je jasný: provokovat k neklidu.</h1>
<p>K zneužití výročí tragické smrti studenta J. Palacha.</p>
<p>Praha (Od našich zpravodajů) – Jak jsme již informovali, pokusilo se v neděli 15.&nbsp;ledna na Václavském náměstí v Praze několik skupin protistátních živlů o provokaci, jejímž smyslem bylo zneužít výročí nesmyslné sebevraždy studenta J. Palacha. V pondělí došlo k pokusu o obdobnou provokaci znovu.</p>
<p>[…]</p>
<p>Informovali jsme i o tom, že stejné síly, dokonce často reprezentované stejnými jmény, připravují ve středu Prahy uspořádání „vzpomínkového shromáždění na paměť studenta Palacha“. Odbor vnitřních věcí ONV Praha 1 žádost podepsanou několika disidenty zamítl. Veřejné mínění mezitím rozjitřil dopis neznámého pisatele, jenž oznámil jednomu z „chartistů“, že „15.&nbsp;ledna&nbsp;1989 v odpoledních hodinách na Václaváku u koně opět zazáří lidská pochodeň“.</p>
